CompileFlags:
  CompilationDatabase: build/ninja-debug
  Add: [-Wall, -Wextra]
  Remove: [-fmodules-ts, -fmodule-mapper=*, -fdeps-format=*]

Diagnostics:
  ClangTidy:
    Add: [modernize-*, performance-*]
    Remove: [modernize-use-trailing-return-type]

Index:
  Background: Skip
  
