CompileFlags:
  CompilationDatabase: build/windows-clang
  Add:
    - -Wall
    - -Wextra
    - -Wreorder-init-list
  Remove:
    - -fmodules-ts
    - -fmodule-mapper=*
    - -fdeps-format=*
    - -Winvalid-header-pch
    - -Winvalid-offsetof

Diagnostics:
  UnusedIncludes: None

Index:
  Background: Skip
