CompileFlags:
  CompilationDatabase: build/ninja-debug
  Add:
    - -Wall
    - -Wextra
  Remove:
    - -fmodules-ts
    - -fmodule-mapper=*
    - -fdeps-format=*
    - -Winvalid-pch
    - -Winvalid-offsetof

Diagnostics:
  UnusedIncludes: None

