# ==========================================
# Git Submodules Configuration
# ==========================================

# --- UI Libraries ---
[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master

[submodule "include/rlImGui"]
	path = include/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
	branch = main

[submodule "include/raygui"]
	path = include/raygui
	url = https://github.com/raysan5/raygui.git
	branch = master

# --- File Dialogs ---
[submodule "include/nfd"]
	path = include/nfd
	url = https://github.com/btzy/nativefiledialog-extended.git
	branch = master

# --- Entt ---
[submodule "include/entt"]
	path = include/entt
	url = https://github.com/entt/entt.git
	branch = master

