# ==========================================
# Git Submodules Configuration
# ==========================================

# --- UI Libraries ---
[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master

[submodule "include/rlImGui"]
	path = include/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
	branch = main

[submodule "include/raygui"]
	path = include/raygui
	url = https://github.com/raysan5/raygui.git
	branch = master

# --- File Dialogs ---
[submodule "include/nfd"]
	path = include/nfd
	url = https://github.com/btzy/nativefiledialog-extended.git
	branch = master

# --- Core Dependencies ---
[submodule "include/raylib"]
	path = include/raylib
	url = https://github.com/raysan5/raylib.git
	branch = master

[submodule "include/json"]
	path = include/json
	url = https://github.com/nlohmann/json.git
	branch = develop

[submodule "include/googletest"]
	path = include/googletest
	url = https://github.com/google/googletest.git
	branch = main

[submodule "include/entt"]
	path = include/entt
	url = https://github.com/skypjack/entt.git
	branch = master

[submodule "include/mono"]
	path = include/mono
	url = https://github.com/mono/mono.git
	branch = main
