name: Build

on:
  pull_request:
    branches:
      - main
      - develop
      - chained-gui
      - refactor-branch
  workflow_dispatch:
  push:
    branches: [main, develop, chained-gui, refactor-branch]
    paths:
      - "**/*.cpp"
      - "**/*.h"
      - "**/CMakeLists.txt"
      - ".github/workflows/*.yml"

env:
  CI: true

jobs:
  windows:
    uses: ./.github/workflows/build-windows.yml

  linux:
    uses: ./.github/workflows/build-linux.yml

  completed:
    needs: [windows, linux]
    runs-on: ubuntu-latest
    steps:
      - name: All builds completed
        run: echo "All platform builds successful!"
